@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #f5f5f5;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


}
.original_height{
   height:calc(100vh - 80px) ;
}
.active{
    color: #252422;
}
